<app-header></app-header>

<div class="content" role="main">
  <app-dropdown [label]="'Region'" [dropdownList]="regionsList$ | async" (selectItem)="onRegionChange($event)">
  </app-dropdown>

  <ng-container *ngIf="(selectedRegion$ | async)">
    <app-dropdown [label]="'Country'" [dropdownList]="countryList$ | async"
      (selectItem)="onCountryChange($event)">
    </app-dropdown>
    <ng-container *ngIf="(selectedCountryDetails$ | async)">
      <app-country-details-grid [countryDetails]="selectedCountryDetails$ | async"></app-country-details-grid>
    </ng-container>
  </ng-container>
</div>